@font-face {
  font-family: Audi Normal;
  src: url('https://cdn.jsdelivr.net/gh/kashsapient/microfrontend-resources/fonts/AudiTypeScreen-Normal.ttf') format('truetype');
}

@font-face {
  font-family: Audi Light;
  src: url('https://cdn.jsdelivr.net/gh/kashsapient/microfrontend-resources/fonts/AudiTypeScreen-Light.ttf') format('truetype');
}

@font-face {
  font-family: Audi Bold;
  src: url('https://cdn.jsdelivr.net/gh/kashsapient/microfrontend-resources/fonts/AudiTypeScreen-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Audi Extended Normal;
  src: url('https://cdn.jsdelivr.net/gh/kashsapient/microfrontend-resources/fonts/AudiType-ExtendedNormal.ttf') format('truetype');
}

@font-face {
  font-family: Audi Extended Bold;
  src: url('https://cdn.jsdelivr.net/gh/kashsapient/microfrontend-resources/fonts/AudiType-ExtendedBold.ttf') format('truetype');
}